.main__contact {
  .home__intro-card {
    img {
      max-height: 80px;
    }
    .card__text {
      margin-left: 20px;
      h3 {
        color: #3A1370;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
      }
      p {
        font-size: 16px;
        color: #282F42;
        max-width: 220px;
      }
    }
  }
}